.link {
    text-decoration: none;
    width: 133px;
    height: 100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    text-decoration: underline;
}

.firstimg {
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Jost;
    font-size: 96px;
    line-height: 0px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
}

h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-top: 0;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 250px;
    margin-top: 150px;
}

.action {
    width: 200px;
    height: 60px;
    justify-content: space-around;
    flex-wrap: wrap;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.bttn {
    display: flex;
    justify-content: center;
}

.book {
    background-color: #E8C300;
    color: white;
}

.explore {
    background-color: transparent;
    color: white;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.line {
    width: 60px;
    height: 5.11px;

    background: #E8C300;
    border-radius: 50px;
}

.btns-social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    justify-content: space-around;
    margin-right: 80px;
    height: 100%;
}

.btns-social button:nth-child(n) {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.downd {
    display: flex;
    justify-content: center;
    margin-top: 83px;
}

.down {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
}

.allsecond {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 675px;
    width: 100%;
}

.secondpage {
    width: 89%;
    height: 475px;

    display: flex;
    align-items: center;
}

.picsecond {
    width: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}

.tbig {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
}

.linetwo {
    width: 60px;
    height: 5.11px;

    background: #E8C300;
    border-radius: 50px;
}

.tsmall {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.tsmaller {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.smtext {
    font-family: Open Sans;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 1475px;

    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.gorizont {
    display: flex;
    flex-direction: row-reverse;
}

.pichef {
    width: 50%;
}

.textchef {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 100px;
}

.tbigchef {
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.linetwo {
    width: 60px;
    height: 5.11px;

    background: #E8C300;
    border-radius: 50px;
}

.tsmallchef {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
}

.tsmallerchef {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
}

.lastwhite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 447px;
    width: 1280px;
    flex-direction: column;
}

.lastpage {
    display: flex;
    justify-content: center;
}

.lasttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lastsmall {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.windows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    margin-bottom: 7px;
}

.param {
    width: 33%;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    border-color: transparent;
}

.paramtwo {
    width: 100%;
    height: 120px;
    margin-bottom: 7px;
    background: #E5E5E5;
    border-radius: 5px;
    border-color: transparent;
}

.fa {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;

    color: #E8C300;
    border-radius: 5px;
}

.message {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    width: 50%;
    height: 60px;

    text-align: center;

    color: #FFFFFF;
    background-color: #E8C300;
    border-color: transparent;

    border-radius: 5px;
    cursor: pointer;
}

.lastline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ii {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-right: 25px;

    color: rgba(51, 51, 51, 0.5);
}

input {
    box-sizing: border-box;
}
