.firstimg {
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.toptopnav {
    position: absolute;
    display: grid;
    width: 100%;
    justify-content: center;
}

.topnav {
    display: grid;
    width: calc(1110px * 0.75);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    padding-top: 38px;
}

.topnav>div {
    display: grid;
    justify-content: space-evenly;
    height: 18px;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.line {
    width: 119px;
    height: 10px;

    border-radius: 2px;
    border-color: #D1A954;
}

.text {
    float: left;
    height: calc(296px * 0.75);
    width: calc(540px * 0.75);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: calc(255px * 0.75);
    margin-top: calc(384px * 0.75);
    align-items: center;
}

.bigtext {
    height: 51px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.smalltext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 112%;

    color: #FFFFFF;
}

.afisha {
    height: calc(50px * 0.75);
    width: calc(160px * 0.75);

    background: #D1A954;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px * 0.75);
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.secimg {
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: calc(510px * 0.75) 25px;
    margin-left: calc(125px * 0.75);
    margin-top: calc(267px * 0.75);
    width: calc(370px * 0.75);
    height: calc(570px * 0.75);
    align-content: space-between;
}

.biglascala {
    position: relative;
    grid-column: 1 / -1;
}

.lascala {
    position: absolute;
    width: calc(350px * 0.75);
    height: calc(490px * 0.75);
    z-index: 1;
}

.lascalasecond {
    position: absolute;
    width: calc(350px * 0.75);
    height: calc(490px * 0.75);
    top: calc(20px * 0.75);
    left: calc(20px * 0.75);
}

.arrowone {
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-content: center;
}

.pred {
    height: calc(25px * 0.75);

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px * 0.75);
    line-height: calc(25px * 0.75);

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;
}

.arrowtwo {
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: space-between;
}

.arrowright {
    display: grid;
    align-content: center;
    justify-content: right;
}

.imgarrow {
    transform: rotate(180deg);
}

.sled {
    display: grid;
    height: calc(25px * 0.75);
    justify-content: right;
    align-content: center;

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px * 0.75);
    line-height: calc(25px * 0.75);

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 8fr 4fr 1fr 1fr 1fr 1fr 2fr;
    justify-content: center;
    align-content: flex-end;
    float: left;
    width: calc(150px * 0.75);
    height: 100%;

    background: rgba(51, 51, 51, 0.75);

    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.contcontinfo {
    display: grid;
    align-content: center;
    font-size: 10px;
}

.continfo {
    transform: rotate(-90deg);
    width: calc(242px * 0.75);
}

.whiteline {
    margin-left: 90px;
    margin-top: 15px;
    width: calc(5px * 0.75);
    height: calc(80px * 0.75);

    background: #C4C4C4;
    border-radius: 3px;
}

.fa {
    display: grid;
    justify-content: center;
}

.fa-instagram {
    background-color: transparent;
    color: #D1A954;
}

.about {
    background-color: #444444;
    height: 1200px;
    width: 100%;
    display: grid;
    justify-items: center;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(165px * 0.75) 1fr;
    justify-items: center;
    margin-top: calc(150px * 0.75);
    margin-bottom: calc(150px * 0.75);
    width: calc(1110px * 0.75);
}

.abouttheatre {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    grid-row: 1;
    grid-column: 1/-1;
}

.best {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    height: calc(273px * 0.75);
    width: calc(445px * 0.75);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.besttheatre {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(21px * 0.75);
    line-height: calc(29px * 0.75);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.texttheatre {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px * 0.75);
    line-height: 150%;

    color: #FFFFFF;
}

.facts {
    display: grid;
    justify-content: center;
    height: calc(292px * 0.75);
    width: calc(255px * 0.75);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 1fr 6fr 1fr;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
}

.numbers {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(21px * 0.75);
    line-height: calc(29px * 0.75);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.kreslo {
    width: calc(70px * 0.75);
}

.armchair {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px * 0.75);
    line-height: calc(22px * 0.75);
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.szena {
    width: calc(70px * 0.75);
}

.thr {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px * 0.75);
    line-height: calc(22px * 0.75);
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.fotobigtheatre {
    grid-column: 3;
    grid-row: 2;
    width: 100%;

    display: grid;
    justify-content: center;
}

.picpic {
    width: calc(350px * 0.75);
    height: calc(292px * 0.75);
}

.ourrs {
    display: grid;
    justify-content: center;
    height: calc(715px * 0.75);
    width: calc(1770px * 0.75);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr;
    align-items: center;
}

.ours {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: calc(300 * 0.75);
    font-size: calc(48px * 0.75);
    line-height: calc(65px * 0.75);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}

.pics {
    width: 90%;
    justify-self: center;
}
